@model List<CategoryResponseModel>


    @TempData["message"]

<h5>Yeni bir kategori eklemek icin   <a asp-controller="Category" asp-action="CreateCategory">tıklayınız </a>  </h5>


    <table class="table table-hover">
        <thead> 
            <tr>
                <th>Kategori ID</th>
                <th>Kategori Ismi</th>
                <th>Acıklaması</th>
                <th>Guncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>

            @foreach (CategoryResponseModel item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td> <a asp-action="UpdateCategory" asp-controller="Category" class="btn btn-warning" asp-route-id="@item.ID">Güncelle</a>   </td>
            </tr>
        }


          </tbody>
    </table>